.main-container {
  border: 5px solid black;
}

.light-border {
  border: 2px solid black;
}

.editor-and-register {
  display: flex;
  justify-content: space-around;
  padding-top: 10px;
  padding-bottom: 20px;
}

.editor {
  display: block;
  resize: none;
  font-size: 20px;
  text-align: left;
}

.register-container {
  padding: 25px;
  width: 870px;
  height: 87%;
}

.register {
  border: 1px solid black;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.register-row {
  margin-bottom: 4px;
  display: flex;
}

.register-id {
  text-align: center;
  display: block;
  font-size: 14px;
}

td {
  margin-right: -3px;
}

.execute-btn {
  width: 100%;
  font-size: 22px;
  margin-top: 10px;
}

.action-btn {
  width: 33%;
  font-size: 22px;
  margin-top: 10px;
}

table {
  margin: 0 auto;
}

.header {
  display: flex;
  border-bottom: 5px solid black;
  padding: 20px;
  justify-content: space-between;
}

.app-name {
  font-size: 50px;
  font-weight: bolder;
}

.help-section {
  font-size: 30px;
  padding-top: 15px;
  font-weight: bold;
  padding-right: 30px;
  cursor: pointer;
}

.disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.pc-head {
  background-color: rgb(1 155 1);
  opacity: 0.8;
  color: whitesmoke;
}

.arg {
  background-color: rgba(1, 155, 1, 0.3);
}

.halt-statement {
  background-color: rgba(249, 43, 43, 1);
  color: whitesmoke;
  opacity: 0.8;
}

.code-verified {
  background-color: rgb(1 155 1);
  opacity: 0.8;
  color: whitesmoke;
}

.error-modal {
  position: absolute;
  width: 280px;
  height: 210px;
  top: 400px;
  left: 750px;
  background: #fff;
  border-radius: 3px;
  box-shadow: 4px 8px 12px 0 rgba(0, 0, 0, 0.4);
  text-align: center;
  overflow: hidden;
}

.disabled-screen {
  opacity: 0.3;
}

.error-message {
  padding: 20px;
  margin-top: 20px;
  font-weight: 600;
}

.error-modal button {
  bottom: 0;
  position: absolute;
  height: 30px;
  left: 0;
  right: 0;
  margin: 10px;
}

.last-updated-register {
  height: 46px;
  width: 46px;
  border-width: medium;
  border-color: blueviolet;
  color: white;
  background-color: blueviolet;
}

.help-modal {
  position: absolute;
  width: 1200px;
  height: 926px;
  top: 0;
  left: 540px;
  background: #fff;
  text-align: center;
  margin: auto;
  width: 50%;
  border: 4px solid black;
  padding: 10px;
}

.help-message {
  overflow: scroll;
  height: 90%;
}

.help-message::-webkit-scrollbar {
  scrollbar-base-color: blueviolet;
  scrollbar-color: rebeccapurple green;
}

.close-help-btn {
  display: flex;
}

.close-help-btn span {
  cursor: pointer;
  margin-right: 20px;
  margin-left: auto;
  font-size: 30px;
  font-weight: bolder;
}

.instruction-detail {
  text-align: left;
  padding: 20px;
}

.load-save {
  display: flex;
  justify-content: right;
  padding-right: 110px;
}

.load-save button {
  /* width: 100%; */
  font-size: 22px;
  margin-top: 10px;
}

.prompt {
  position: absolute;
  left: 700px;
  top: 350px;
  border: 2px solid black;
  width: 400px;
  height: 150px;
  padding: 20px;
  text-align: center;
  font-size: 20px;
}

.prompt input {
  width: 100%;
  font-size: 20px;
  height: 25px;
}

.file-name-modal span {
  display: flex;
  justify-content: right;
  margin-bottom: 20px;
}

.file-name-modal select {
  width: 200px;
}